/* Home.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Other styles... */


/* Home.css */
.home-container {
  background-color: black;
  color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center vertically */
  align-items: center; /* Center horizontally */
  font-family: 'Roboto', sans-serif; /* Set Roboto as the default font */
}

.logo {
  width: 200px; /* Adjust the size as needed */
  margin-top: -100px; /* To bring the logo up and center the rest of the text */
}

h1 {
  font-size: 24px;
  margin: 20px 0; /* Margin above and below the text */
  text-align: center; /* Center align the text */
  font-family: 'Roboto', sans-serif; /* Ensure the h1 also uses Roboto */
}

.yellow-text {
  color: yellow; /* Style for the yellow text */
}

.input-container {
  display: flex;
  margin: 20px; /* Margin above and below the text */
}

input {
  padding: 10px;
  border: 2px solid yellow;
  background-color: black;
  color: white;
  margin-right: 10px;
  font-family: 'Roboto', sans-serif; /* Apply Roboto font */
  text-align: center; /* Center the text in the input */
  border-radius: 25px; /* Round corners */
}

input::placeholder {
  color: #737272; /* Change this to your desired color */
  opacity: 1; /* Optional: Change opacity for better visibility */
}

input:focus {
  border: 2px solid #43D5B0; /* Change to desired border color */
  outline: none; /* Remove the default focus outline */
}

button {
  padding: 10px 20px;
  background-color: black; /* Set background color to black */
  border: 2px solid yellow; /* Set border color to yellow */
  color: yellow; /* Set text color to yellow */
  font-weight: bold;
  cursor: pointer;
  font-family: 'Roboto', sans-serif; /* Apply Roboto font */
  border-radius: 25px; /* Round corners */
  transition: background-color 0.3s; /* Optional: smooth transition on hover */
}

button:hover {
  background-color: yellow; /* Change background to yellow on hover */
  color: black; /* Change text color to black on hover */
}